.gallery_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.gallery_container article{
    border: 1rem solid transparent;
    transition: all 300ms ease;
}
.gallery_container article:hover{
    border-color: gray;
}