.main_header{
    width: 100vw;
    height:100vh;
    display: grid;
    place-items: center;
    margin-top: 3rem;
}
.main_header-container{
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}
.main_header-left{
    margin-top: -3rem;

}
.main_header-left h4{
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400;
}
.main_header-left p{
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}
.main_header-right{
    display: grid;
    place-items: center;
    position: relative;
}
.main_header-circle{
    width:25rem;
    height: 25rem;
    background: linear-gradient(75deg,yellow,transparent);
    border-radius: 50%;
    position: absolute;
    filter:blur(15px);
    transition: all 400ms ease;
}
.main_header-image{
position: relative;

}
.main_header-right:hover .main_header-circle{
filter:blur(15px);
}
.programs{
    margin-top: 4rem;
}
.programs_wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:3rem;
    margin-top: 4rem;
}
.programs_program .ab{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.values_container{
    display: grid;
    grid-template-columns: 40% 50%;
    gap:10%;
}
.values_image{
    filter: saturate(0.25);
    transition: all 300ms ease;
}
.values_right > p{
    margin: 1.5rem 0 5rem;
}
.values_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem 2rem;
}

.card.values_value{
    padding-top: 3.5rem;
    text-align: center;
    position: relative;
}
.card.values_value span{
    position: absolute;
    top:-1.5rem;
}
.faqs{
    height:85%;
}
.faqs_wrapper{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1.5rem 5rem;
    align-items: flex-start;
}
.faq{
    background: var(--color-bg-variant);
    padding: 2rem;
    border-radius: 3rem;
    cursor: pointer;

}
.faq div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.faq_icon{
    background: transparent;
    color: beige;
}
.faq p{
    margin-top: 1.5rem;
}
.testimonials{
    width: 50rem;
    margin: 0 auto;
    margin-top: 3rem;
}

.test{
    justify-content: center;
    margin-top: 5rem;
}
.card.testimonials{
    position: relative;
    text-align: left;
    margin-left: 5rem;
}
.testimonial_avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
      
    position:relative;
    overflow: hidden;
    top:5px;
    
    box-shadow: 0 1.5rem 2rem rgba(26,26,54,0.4);
    left:44%;
    transition: all 300ms ease;
border: 2px solod transparent;

}
.testimonial:hover .testimonial_avatar{
    border-radius: 50%;
    border-color:var(--color-secondary);
}
.testimonials_quote{
    margin-top: 1rem;
} 
.testimonials_quote{
    font-style: italic;
    margin: 1rem 0 2rem;
}
.card small.testimonial_title{
 margin-top: 0.3rem;
}
.testimonials_btn-container{
    width:fit-content;
    margin:2.5rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem
}
.testimonials_btn{
   background-color: transparent;
       cursor: pointer;
}
.testimonials_btn svg{
   fill: aqua;
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
}
footer{
    background: var(--color-primary);
    margin-top: 7rem;
    padding-top: 7rem;
    font-size: 0.9rem;
    color:white;
}
.footer_container{
    display: grid;
    grid-template-columns: 26rem 1fr 1fr 1fr;
gap: 6rem;
}
.footer_container article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.7rem;

}
.footer_container article p{
    margin-top: 0.5rem;
}
.footer_container article h4{
margin-bottom: 0.6rem;
font-size: 1rem;
}
.footer_socials{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.footer_socials a{
    background:var(--color-primary);
    padding: 0.7rem;
    border: 1px solid transparent;
    border-radius: 0.6rem;
    transition: var(--transition);
}
.footer_socials a svg{
    color:gray;
}
.footer_socials a:hover{
    border-color:white;
    background: transparent;
}

@media screen and (max-width:1024px) {
   .main_header{
    height:fit-content;
    padding: 12rem 0;
   }
   .main_header-container{
    gap:0;
   }
   .main_header-circle{
    width:16rem;
    height:16rem;
   }
   .programs_wrapper{
    grid-template-columns: 1fr 1fr;
   }
   .values_container{
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap:4rem;
   }
   .values_wrapper{
    gap:4rem 3rem;
   }
   .values_image{
    display: none;
   }
   .faqs_wrapper{
    grid-template-columns: 1fr;
   }
   .testimonials{
    width:75%;

}
.footer_container{
    grid-template-columns: 1fr 1fr;
    gap:4rem;
}
}
   @media screen and (max-width:600px) {

    .main_header{
        margin-top: 0;
        padding: 12rem 0 0;
        height:100vh;
    }
    .main_header-image,.main_header-circle{
        display: none;
    }
    .main_header-container{
        grid-template-columns: 1fr;
    }
    .programs_wrapper{
        grid-template-columns: 1fr;
        gap:2rem;
        margin-top: 3rem;
    }
    .programs_program{
        width:84%;
        margin-top: 0 auto;
    }
    .values_wrapper{
        grid-template-columns: 1fr;
        gap:3rem;
    }
    .card.values_value{
        width:84%;
        margin-inline:auto;
    }
    .faqs_wrapper{
        gap:1rem;
        margin-top: 3rem;
    }
    .testimonails{
        width: 100%;
    }
    .footer_container{
      grid-template-columns: 1fr;
      gap:3rem;  
    }
    .footer_container article{
        align-items: center;
    }
    .footer_container article p{
        text-align: center;
    }
}

